<div class="user-form">
	<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="row">
		<div class="form">
			<h1>Sign Up</h1>

			<%= f.label :name %><br>
			<%= f.text_field :name, class: 'form-control' %><br>

			<%= f.label :email %><br>
			<%= f.email_field :email, class: 'form-control' %><br>

			<%= f.label :password %><br>
			<%= f.password_field :password, class: 'form-control' %><br>

			<%= f.label :password_confirmation, "Password Confirmation" %><br>
			<%= f.password_field :password_confirmation, class: 'form-control' %><br>

			<%= f.label :time_zone %><br>
			<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %><br>
		</div><br>
	</div>

	<div class="actions">
		<%= f.submit "Create Account"%>
	</div>

	<p>
		Already a User?
		<%= link_to "Log In Here!", new_user_path %>
	</p>

	<% end %>
</div>
