<%
=begin %>
<div class="dashboard container-fluid">
	<div class="row">
		<% if current_user.galleries.any? %>

		<div class="image_container">

			<% current_user.galleries.each do |gallery| %>
			<ul class="col-xs-6 col-sm-4">
				<li>
					<h4><%= link_to gallery.title, gallery %></h4>
				</li>
				<li><%= link_to attachment_image_tag(gallery.images.first, :file, format: "jpg", class:"img-responsive"), gallery %></li>
				<% end %>
			</ul>

		</div>
		<% end %>
	</div>

</div>

<div class="dashboard container-fluid">

	<p id="notice"><%= notice %></p>

	<h3><%= current_user.name %>'s Galleries</h3>

	<div class="image_container">
		<% @galleries.each do |gallery| %>
		<ul class="col-lg-3 col-md-2 col-sm-3 col-xs-4">
			<li><%=link_to gallery.title, gallery %></li>
			<li>
				<%= link_to attachment_image_tag(gallery.images.first, :file), gallery, class: "image-responsive" %>
			</li>
			<li><%= link_to 'Show', gallery %></li>
			<li><%= link_to 'Edit', edit_gallery_path(gallery) %></li>
			<li><%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %></li>
		</ul>
		<% end %>
	</div class="image_container">
</div>
</div>
<%
=end %>
<div id="dashboard"class="container-fluid">
<p id="notice"><%= notice %></p>
<div class="row">
	<div class="flex-images">
		<% @galleries.each do |gallery| %>
		<div class="item" data-w="150" data-h="150"><%= link_to attachment_image_tag(gallery.images.first, :file), gallery %></div>
		<% end %>
	</div>
</div>
</div>
