<p id="notice"><%= notice %></p>

<h3><%= @user.name %> Dashboard</h3>

<% if @user.galleries.any? %>
	<ul>
		<% @user.galleries.each do |galleries| %>
		<li><%= link_to galleries.title, galleries %></li>
		<% end %>
	</ul>

<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<% if @user.images.any? %>
	<ul>
		<% @user.images.each do |images| %>
		<li><%= link_to images.name, images %></li>
		<% end %>
	</ul>

<% end %>

<%= link_to 'New Gallery', new_gallery_path %><br>
<%= link_to 'New Image', new_image_path %>
