<%= form_for(@album) do |f| %>
	<div class="field">
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</div>
	<div class="field">
			<%= f.label :images_files %><br>
			<%= f.attachment_field :images_files, multiple: true, presigned: true, direct: true %>
	</div>
	<div class="actions">
			<%= f.submit %>
	</div>
<% end %>
