<div id="album-index">

	<p id="notice"><%= notice %></p>

	<h1><% current_user.name %>
		Albums</h1>
	<div class="image_container">
		<% @albums.each do |album| %>
		<ul class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
			<li><%= album.name %></li>

			<li><%= attachment_image_tag(album.images.first, :file) %></li>
			<li><%= check_box_tag "selected_albums[]", album.id %></li>
			<li><%= link_to 'Show', album %></li>
			<li><%= link_to 'Edit', edit_album_path(album) %></li>
			<li><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></li>
		</ul>
		<% end %>

	</div>
	<br>

	<%= link_to 'New Album', new_user_album_path %>
</div>
