<h1>New Album</h1>

<%= form_for([current_user, @album]) do |f| %>
	<div class="field">
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</div>
	<div class="field">
			<%= f.label :images_files %><br>
			<%= f.attachment_field :images_files, multiple: true, presigned: true, direct: true %>
	</div>
	<div class="form-group">
		<div class="row">
			<%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
				<% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text}%>
			<% end %>
		</div>
	</div>

	<div class="actions">
			<%= f.submit %>
	</div>
<% end %>

<%# render 'form' %>

<%= link_to 'Back', :back %>
