<%# <%= form_for @gallery, :url => new_user_gallery_path do |f| %>
<%= form_for @gallery, url: {action: "create"} do |f| %>
	<div class="field">
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</div>
		<div class="field">
		<%= f.label :images %><br>
		<%= f.file_field :images, multiple: true %> # make this input a multiple files input
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
