<h1>Update Gallery</h1>

<%= form_for(@gallery) do |f| %>
	<div class="field">
		<%= f.label      	     :title %><br>
		<%= f.text_field 	     :title %>
	</div>
	<div class="form-group">
		<div class="row">
			<%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
				<% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text}%>
			<% end %>
		</div>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>


<%# render 'form' %>

<%= link_to 'Dashboard', user_path(current_user) %>
