<p id="notice"><%= notice %></p>
<p>
	<strong>Title:</strong>
	<%= @gallery.title %>
</p>
<p>
	<strong>Images:</strong>
	<% @gallery.images.each do |image| %>
		<%= link_to attachment_image_tag(image, :file, :fill, 100, 100, format: "jpg"), image %>
	<% end %>
</p>

<%= form_for(@gallery) do |f| %>
	<%= f.fields_for :images do |form| %>
		<%= attachment_image_tag form.object, :file, :limit, 200, 200 %>
		<%= form.checkbox :remove_file%>
		<%= form.label :remove_file %>

	</div>

	<% end %>
	<div class="actions">
			<%= f.submit %>
<% end %>
