<p id="notice"><%= notice %></p>

<h1><%= current_user.name %>'s Galleries</h1>

<div class="row">
	<div class="flex-images">
		<% @galleries.each do |gallery| %>
		<ul class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
			<li><%=link_to gallery.title, gallery %></li>
			<li class="item floating-box">
				<%= link_to attachment_image_tag(gallery.categories_images.first, :file), gallery %>
			</li>
			<li><%= link_to 'Show', gallery %></li>
			<li><%= link_to 'Edit', edit_gallery_path(gallery) %></li>
			<li><%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %></li>
		</ul>
		<% end %>
	</div>
</div>
<br>

<%= link_to 'New Gallery', new_user_gallery_path(current_user) %>
