<p id="notice"><%= notice %></p>

<p>
	<strong>Title:</strong>
	<%= @gallery.title %>
</p>

<% @gallery.images.each do |image| %>
	<%= image_tag(image.url)  %>
<% end %><br>

<%= link_to 'New Gallery', new_gallery_path %><br>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', current_user %>
