<h3><%= @gallery.title %></h3>
<div class="row">
	<div class="flex-images">
		<% @gallery_images.each do |image| %>
		<ul class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
			<li class="item floating-box">
				<%= link_to attachment_image_tag(image, :file), image %>
			</li>
		</ul>
		<% end %>
	</div>
</div><br>

<h4><%= @gallery.title %>
	<big>NOW</big>
</h4>

<div class="row">
	<div class="flex-images">
		<% @gallery_now.each do |image| %>
		<ul class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
			<li class="item floating-box">
				<%= link_to attachment_image_tag(image, :file), image %>
			</li>
		</ul>
		<% end %>
	</div>
</div><br>
<ul>
	<% @gallery.categories.each do |c| %>
	<li><%= c.id %></li>
	<li><%= c.name %></li>
	<% end %>

</ul>

</ul>
<ul>
	<li><%= link_to  current_user.name.capitalize + "'s Galleries", user_galleries_url(current_user) %></li>
	<li><%= link_to 'Destroy', @gallery, method: :delete, data: { confirm: 'Are you sure?'} %></li>
	<li><%= link_to "Edit Gallery", edit_gallery_path %></li>
	<li><%= link_to 'New Gallery', new_user_gallery_path(current_user) %></li>
	<li><%= link_to "Back", :back %></li>
</ul>
