<p id="notice"><%= notice %></p>
<p>
	<strong>Title:</strong>
	<%= @gallery.title %>
</p>
<p>
	<strong>Images:</strong>
	<% @gallery.images.each do |i| %>
		<%= attachment_image_tag(i, :file, :fill, 350, 350, format: "jpg") %>
	<% end %>
</p>
<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
