<p id="notice"><%= notice %></p>

<h3><%= current_user.name %>'s Categories'</h3>
	<% if current_user.categories.any? %>
	<% @categories.each do |cat| %>
	<ul>
		<li><%=link_to cat.name, cat %></li>
		<li><%= cat.description %></li>
	</ul>
	<% end %>
<% end %>
<p><%=  link_to "New Category", new_user_category_path %></p>
