<%= form_for(@image) do |f| %>
	<div class="field">
			<%= f.label :file %><br>
			<%= f.attachment_field :file %>

			<%= f.check_box :remove_file %>
			 <%= f.label :remove_file %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
