<%= form_for([current_user, @image]) do |f| %>
	<div class="field">
			<%= f.label :file %><br>
			<%= f.attachment_field :file, direct: true %>
	</div>
		<div class="form-group">
			<div class="row">
				<%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
					<% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text}%>
				<% end %>
			</div>
		</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>


<%# Delete %>
<%# Need to remove "remove_file" not needed here, just delete %>

<%# Add %>
<%# Ability to narrow scope i.e. all images vs. only images not in gallery/album etc.. %>
