<div class="image-index">

	<p id="notice"><%= notice %></p>
	<div class="image-index">

		<h1><%= current_user.name %>
			Images</h1>

		<div class="image_container">
			<% @images.each do |image| %>
			<ul class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
				<li>
					<%= image_tag attachment_url(image, :file, :fill, 100, 100, format: "jpg") %>
				</li>
				<li><%= link_to 'Show', image %></li>
				<li><%= link_to 'Edit', edit_image_path(image) %></li>
				<li><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></li>
			</ul>
			<% end %>
		</div>

		<br>

		<%= link_to 'New Image', new_user_image_path %>
	</div>
</div>
