<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<%= @image.name %>
</p>

<p>User Id: <%= @image.user.id  %><br></p>
<p>Image Id: <%= @image.id  %><br></p>

<p><%= image_tag @image.images[0] %></p>

<%= link_to 'New image', new_image_path %><br>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', current_user %>
