<div class="image-show">
	<%= image_tag attachment_url(@image, :file, :limit, 300, 300, format: "jpg") %>
	<p>Start At: <%= @image.start_at %></p>
	<p>End At:   <%= @image.end_at %></p>
	<br>
	<%= link_to 'Edit', edit_image_path(@image) %>
	|
	<%= link_to 'Back', :back %>
	|
	<%= link_to 'Delete This Image', @image, method: :delete, data: { confirm: "Think about it, do you really want it to end this way?"} %>
</div>
